body {
    font-family: serif;
    margin: 30px;
}

input {
    margin-right: 10px;
}

table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f9f9f9;
    font-size: 1.15em;
}

.light-gray {
    background-color: #f0f0f0;
}

.light-green {
    background-color: #98f898;
}
